/* same declarations as part 2, but removed any references to width (li width, li inline block) to maintain vertical alignment for mobile screen */
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

ul {
    width: 80%;
    height: 10rem;
    margin: 5rem auto;
    padding: 0;
    list-style-type: none;
}

li {
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 10rem;
    line-height: 10rem;
    border: 1px solid darkgray;
}

/* Becky suggests looking up the syntax for media query on W3 schools etc. */
/* this declaration applies only when disply is 700px wide or larger */
@media only screen and (min-width: 700px) {
    body {
        background-color: lightblue;
    }

    li {
        width: 19%;
        display: inline-block;
    }
}

:root {
    --odd-color: #d46843;
    --odd-bg-color:#2A150D;

    --even-color: white;
    --even-bg-color: black;
  }

  /* apply those variables to specific elements */
  li:nth-child(even) {
    color: var(--even-color);
    color: var(--even-bg-color);
  }

  li:nth-child(odd) {
    color: var(--odd-color);
    background-color: var(--odd-bg-color);
  }